body {
  overflow: hidden;
}

#root {
  position: relative;

  height: 100vh;
  width: 100vw;

  font-family: monospace;
}
.gameboard-row {
  height: 10%;
  width: 100%;
  display: flex;
}
/* GAMEBOARD CELLS STYLES ========================= */
.gameboard-cell {
  height: 100%;
  width: 10%;
  font-size: 70%;

  display: grid;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  border: 1px solid black;
}
.gameboard-cell:hover {
  background: lightblue;
}
.player-occupied,
.computer-occupied {
  pointer-events: none;
}
.player-patrol {
  background: red;
}
.player-frigate {
  background: orange;
}
.player-submarine {
  background: green;
}
.player-cruiser {
  background: purple;
}
.player-carrier {
  background: pink;
}
/* STARTUP MENU STYLES ---------------------------- */
.start-menu-container {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all 1s ease;
}
.start-menu-container.hide {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -400%);
  opacity: 0;
  transition: all 1s ease;
}
/* SETUP PHASE STYLES ============================= */
.setup-gameboard-container,
.setup-gameboard-container.show {
  height: 400px;
  width: 400px;
  left: 50%;

  position: absolute;
  transform: translate(-50%, -50%);
  transition: all 1s ease;

}
.setup-gameboard-container {
  top: 100%;
  z-index: -1;

  opacity: 0;
}
.setup-gameboard-container.show {
  top: 50%;
  z-index: 1;

  opacity: 1;
}
.setup-prompt-window {
  position: absolute;
  top: 100%;
  opacity: 0;
  transition: all 1s ease;
}
.setup-prompt-window.show {
  position: absolute;
  top: 0;
  opacity: 1;
  transition: all 1s ease;
}

/* GAME BOARDS ==================================== */
.computer-gameboard-container,
.computer-gameboard-container.show {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 5%;
  left: 5%;

  transition: all 1s ease;
}
.computer-gameboard-container {
  opacity: 0;
  z-index: -1;
  transform: translateX(-100%);
}

.computer-gameboard-container.show {
  opacity: 1;
  z-index: 1;
  transform: translateX(0);
}

.player-gameboard-container,
.player-gameboard-container.show {
  position: absolute;
  right: 5%;
  transition: all 1s ease;
}
.player-gameboard-container {
  position: absolute;
  z-index: -1;
  top: 100%;
  opacity: 0;
}

.player-gameboard-container.show {
  position: absolute;
  z-index: 1;
  top: 5%;
  opacity: 1;
}

